<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TetrisGame"
			 connectionString="Server=QUOCTHONG;Database=PlayerManagement;User Id=Tetris;Password=123456789;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>